In [42]:
#librerias a usar
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
#cargar archivo xlsx
df = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')

In [ ]:
#Verificamos información del DataFrame
df.info()

**FILTROS BASICOS PARA VARIABLES CUALITATIVAS**

In [62]:
#Filtramos por CVE_DOC, que es el identificador unico de cada factura, en este caso se filtra por la factura F37105 y se crea un nuevo archivo csv.
filtro1 = df[(df["CVE_DOC"] == "F37105")]
filtro1.to_csv("filtroPorObjeto.csv")
filtro1

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
42,F37105,2022-01-12,DIEGO ARMANDO LEON DURAN,SENSIENT FLAVORS MEXICO,10,BO00052,BOB 8020 CAL.19 79MMØX750MM GAZA 40CM,505.08,0.0,81.91,5050.8,819.14,423.17,4231.66

In [63]:
#Filtro por filas no consecutivas, en este caso se filtra por las filas 1 y 2 y se crea un nuevo archivo csv.
filtro2= df.loc[[1,2],:] #Filas no consecutivas
filtro2.to_csv("filtroPorFilas.csv")
filtro2

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56

In [64]:
#Filtro por columnas consecutivas, en este caso se filtra por las columnas 1, 2 y 3 y se crea un nuevo archivo csv.
filtro3 = df.iloc[:, [1,2,3]] #Columnas consecutivas
filtro3.to_csv("filtroPorColumnas.csv")
filtro3

      FECHA_DOC            NOMBRE_VENDEDOR                NOMBRE_CLIENTE
0    2022-01-05  LETICIA RAMIREZ HERNANDEZ            PÚBLICO EN GENERAL
1    2022-01-05  LETICIA RAMIREZ HERNANDEZ  JUAN ANTONIO RESENDIZ UGALDE
2    2022-01-05   DIEGO ARMANDO LEON DURAN     ANA BARBARA CRUZ PALACIOS
3    2022-01-05   DIEGO ARMANDO LEON DURAN          OMAR RODRIGUEZ GOMEZ
4    2022-01-05  LETICIA RAMIREZ HERNANDEZ            PÚBLICO EN GENERAL
...         ...                        ...                           ...
1421 2022-12-23  LETICIA RAMIREZ HERNANDEZ     LUIS ENRIQUE PATIÑO PEREZ
1422 2022-12-23  LETICIA RAMIREZ HERNANDEZ     LUIS ENRIQUE PATIÑO PEREZ
1423 2022-12-23  LETICIA RAMIREZ HERNANDEZ          SEVEN DAYS ALL SPORT
1424 2022-12-23  LETICIA RAMIREZ HERNANDEZ           REVUELTA MONTECARLO
1425 2022-12-23         AARON NUÑO CORDOVA                CPEG SOLUTIONS

[1426 rows x 3 columns]

In [ ]:
# Carga el archivo de Excel y usa la onceava columna como índice del DataFrame
df1 = pd.read_excel("Detalle precios y productos fabricados 2022.xlsx", index_col=0)
df1

In [65]:
#Paso 2: Aplicamos filtros de filas vs columnas. df1 necesita ser un DataFrame con índices, en este caso el índice es la columna 0.
#En este caso se filtra por las filas F37034 y F37042 y las columnas NOMBRE_VENDEDOR y se crea un nuevo archivo csv.
#Esto podria servir para obtener el nombre del vendedor de las facturas F37034 y F37042 o en caso contrario obtener el nombre del vendedor 
#de todas las facturas.
filtro4 = df1.loc[["F37034", "F37042"], ["NOMBRE_VENDEDOR"]]
filtro4.to_csv("filtroPorFilasColumnas.csv")
filtro4

                   NOMBRE_VENDEDOR
CVE_DOC
F37034   LETICIA RAMIREZ HERNANDEZ
F37042    DIEGO ARMANDO LEON DURAN

In [66]:
#Filtro por cabecera: obtiene las primeras 2 filas del DataFrame. Si no se especifica el número de filas, por defecto se obtienen las primeras 5 filas.
filtro5 = df.head(2)
filtro5.to_csv("filtroPorCabecera.csv")
filtro5

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87

In [67]:
#Filtro por cola: obtiene la ultima fila del DataFrame. En caso de no especificar el número de filas, por defecto se obtiene las ukltimas 5 filas.
filtro6 = df.tail(1)
filtro6.to_csv("filtroPorCola.csv")
filtro6

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.0,0.0,80.66,14060.0,806.55,1325.34,13253.45

**FILTROS BASICOS PARA VARIABLES CUANTITATIVAS**

In [68]:
#Filtros por comparacion: En este caso se filtra por los productos que tengan un precio unitario mayor a 30000 y se crea un nuevo archivo csv.
filtro7 = df[df["PRECIO_UNITARIO"] > 30000]
filtro7.to_csv("filtroPorComparacion")
filtro7

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
672,F38352,2022-06-10,ALFREDO CANELA,FLEX-N-GATE MEXICO,1,RP00203,REPARACION HORNO 15KW 440V TOTAL,32582.18,0.0,199335.56,32582.18,199335.56,-166753.38,-166753.38

**FILTROS BASICOS CON CONECTORES LOGICOS**

In [69]:
#Filtro Y (AND): En este caso se filtra por los productos que tengan un precio unitario mayor a 1000 y que la fecha de la factura sea 2022-01-05.
filtro8 = df[(df["PRECIO_UNITARIO"] > 1000) & (df["FECHA_DOC"] == "2022-01-05")]
filtro8.to_csv("filtroPorAND.csv")
filtro8

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
10,F37050,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
11,F37051,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,0.00,586.32,1615.00,586.32,1028.68,1028.68
12,F37052,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,0.00,586.32,1615.00,586.32,1028.68,1028.68
13,F37053,2022-01-05,DIEGO ARMANDO LEON DURAN,SANDIBEEL BECERRA HURTADO,1,BO00051,BOB 8020 CAL.26 127V BAS28.5CMX27CM MICA,1485.25,0.00,86.22,1485.25,86.22,1399.03,1399.03
14,F37054,2022-01-05,DIEGO ARMANDO LEON DURAN,INDUSTRIAS NIBA,1,BC00023,BC INOX 114MMØX165MM 1500W 230V C/ALLEN,2095.25,0.00,742.05,2095.25,742.05,1353.20,1353.20

In [70]:
#Filtro o (OR): En este caso se filtra por los productos que tengan un precio unitario mayor a 6000 o que la fecha de la factura sea 2022-01-05.
filtro9 = df[(df["PRECIO_UNITARIO"] > 6000) | (df["FECHA_DOC"] == "2022-01-05")]
filtro9.to_csv("filtroPorOR.csv")
filtro9

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,F39622,2022-11-24,LETICIA RAMIREZ HERNANDEZ,HELVEX,5,TEE00012,"TE ""K"" TIPO LANZA 1/2""Ø X 1331MMC/PLICA",9981.10,485.13,1044.55,24952.75,2499.93,8936.55,22452.82
1355,F39696,2022-12-05,ALFREDO CANELA,SIKA MEXICANA,1,RP00229,REPARACION DE HORNO 1500W 127V,13688.00,0.00,0.00,13688.00,0.00,13688.00,13688.00
1360,F39716,2022-12-07,ALFREDO CANELA,DIECASTING CELAYA,1,BO00005,BO ABIERTA ALAMBRE CAL. 6 40 KW 440 V,18482.78,1734.88,1734.88,18482.78,1734.88,16747.90,16747.90
1393,F39788,2022-12-19,ALFREDO CANELA,WHITEHALL INDUSTRIES DE MEXICO,1,TUA00494,"TUB INOX 7/16""ØX105CM 24KW 480V 3PZ",11809.98,0.00,2335.20,11809.98,2335.20,9474.78,9474.78
1412,F39824,2022-12-23,ALFREDO CANELA,MEGO AFEK,1,TUA00325,"TUB INOX 1/2""ØX75CM ""U"" 30KW440V BRIDA6""",12500.00,4579.08,4579.08,12500.00,4579.08,7920.92,7920.92

In [71]:
#Filtro not: En este caso se filtra por los productos que tengan un precio unitario menor o igual a 100.
filtro10=df[~(df["PRECIO_UNITARIO"] > 100)]
filtro10.to_csv("filtroPorNOT.csv")
filtro10

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
89,F37193,2022-01-26,LETICIA RAMIREZ HERNANDEZ,BESSER VACUUM AMERICA,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.00,38.96,38.96,98.00,38.96,59.04,59.04
344,F37692,2022-03-22,LETICIA RAMIREZ HERNANDEZ,LAURA NIETO MORENO,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,189.00,77.92,55.54,111.08
346,F37695,2022-03-22,LETICIA RAMIREZ HERNANDEZ,MARIO ALBERTO RAMIREZ RAMIREZ,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.00,38.96,38.96,196.00,77.92,59.04,118.08
676,F38364,2022-06-13,ALFREDO CANELA,DISPEL AE,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,42.79,42.79,94.50,42.79,51.71,51.71
1096,F39181,2022-09-29,LETICIA RAMIREZ HERNANDEZ,COMERCIAL ELECTRICA DALCO,10,CERAISON-14-28,CERAMICO OVALADO P/ ELEMENTO C-14- 2 BAR,6.54,6.00,6.00,65.35,60.00,0.54,5.35