In [1]:
#librerias a usar
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#cargar archivo csv
df = pd.read_csv('Tasmania.csv')

In [3]:
#Verificamos información del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6230 entries, 0 to 6229
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6230 non-null   int64
 1   listing_url                                   6230 non-null   object
 2   scrape_id                                     6230 non-null   int64
 3   last_scraped                                  6230 non-null   object
 4   source                                        6230 non-null   object
 5   name                                          6230 non-null   object
 6   description                                   6062 non-null   object
 7   neighborhood_overview                         4132 non-null   object
 8   picture_url                                   6230 non-null   object
 9   host_id                                       6230 non-null   int64
 10  host_url                                      6230 non-null   object
 11  host_name                                     6230 non-null   object
 12  host_since                                    6230 non-null   object
 13  host_location                                 4951 non-null   object
 14  host_about                                    3757 non-null   object
 15  host_response_time                            5260 non-null   object
 16  host_response_rate                            5260 non-null   object
 17  host_acceptance_rate                          5671 non-null   object
 18  host_is_superhost                             6087 non-null   object
 19  host_thumbnail_url                            6230 non-null   object
 20  host_picture_url                              6230 non-null   object
 21  host_neighbourhood                            52 non-null     object
 22  host_listings_count                           6230 non-null   int64
 23  host_total_listings_count                     6230 non-null   int64
 24  host_verifications                            6230 non-null   object
 25  host_has_profile_pic                          6230 non-null   object
 26  host_identity_verified                        6230 non-null   object
 27  neighbourhood                                 4132 non-null   object
 28  neighbourhood_cleansed                        6230 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6230 non-null   float64
 31  longitude                                     6230 non-null   float64
 32  property_type                                 6230 non-null   object
 33  room_type                                     6230 non-null   object
 34  accommodates                                  6230 non-null   int64
 35  bathrooms                                     5512 non-null   float64
 36  bathrooms_text                                6225 non-null   object
 37  bedrooms                                      6108 non-null   float64
 38  beds                                          5503 non-null   float64
 39  amenities                                     6230 non-null   object
 40  price                                         5513 non-null   object
 41  minimum_nights                                6230 non-null   int64
 42  maximum_nights                                6230 non-null   int64
 43  minimum_minimum_nights                        6230 non-null   int64
 44  maximum_minimum_nights                        6230 non-null   int64
 45  minimum_maximum_nights                        6230 non-null   int64
 46  maximum_maximum_nights                        6230 non-null   int64
 47  minimum_nights_avg_ntm                        6230 non-null   float64
 48  maximum_nights_avg_ntm                        6230 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6186 non-null   object
 51  availability_30                               6230 non-null   int64
 52  availability_60                               6230 non-null   int64
 53  availability_90                               6230 non-null   int64
 54  availability_365                              6230 non-null   int64
 55  calendar_last_scraped                         6230 non-null   object
 56  number_of_reviews                             6230 non-null   int64
 57  number_of_reviews_ltm                         6230 non-null   int64
 58  number_of_reviews_l30d                        6230 non-null   int64
 59  first_review                                  5865 non-null   object
 60  last_review                                   5865 non-null   object
 61  review_scores_rating                          5865 non-null   float64
 62  review_scores_accuracy                        5865 non-null   float64
 63  review_scores_cleanliness                     5865 non-null   float64
 64  review_scores_checkin                         5865 non-null   float64
 65  review_scores_communication                   5865 non-null   float64
 66  review_scores_location                        5865 non-null   float64
 67  review_scores_value                           5865 non-null   float64
 68  license                                       5927 non-null   object
 69  instant_bookable                              6230 non-null   object
 70  calculated_host_listings_count                6230 non-null   int64
 71  calculated_host_listings_count_entire_homes   6230 non-null   int64
 72  calculated_host_listings_count_private_rooms  6230 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6230 non-null   int64
 74  reviews_per_month                             5865 non-null   float64
dtypes: float64(17), int64(23), object(35)
memory usage: 3.6+ MB

**a) Los registros de 5 "host name" diferentes**<br>
Aqui use un enfoque raro, obtuve los 5 nombres de los primeros hostname, despues de eso ocuoe sus nombres para obtener los resgistros de cada <br>
host name

In [44]:
filtro1 = df[["host_name"]].head(5)
filtro1

            host_name
0              Yvette
1             Melissa
2  Russell And Ingrid
3       Emma And Dale
4                 Kit

In [ ]:
filtro1 = df[
    (df["host_name"] == "Yvette") |
    (df["host_name"] == "Melissa") |
    (df["host_name"] == "Russell And Ingrid") |
    (df["host_name"] == "Emma And Dale") |
    (df["host_name"] == "Kit")
]
filtro1.to_csv("filtro_5host_name_diferentes.csv") 
filtro1

In [ ]:
filtro3 = df[
    (df["host_response_time"] == "within an hour" ) | 
    (df["host_response_time"] == "within a few hours") | 
    (df["host_response_time"] == "within a day")]
filtro3.to_csv("filtroRespuestaHost.csv")
filtro3

**b) Los registros de los host que se hallan unido a Airbnb "Antes del año 2019"**<br>
Ocupe la variable host_since que nos da la fecha que se unieron los host, para obtener las que sean antes del 2019 simplemente usamos el filtro <br>
de comparacion <.

In [ ]:
filtro2 = df[df["host_since"] < "2019-01-01"]
filtro2.to_csv("filtroComparación_Antesde2019.csv") 
filtro2

In [ ]:
df2 = pd.read_csv('filtroComparación_Antesde2019.csv')
filtro2 = df2[["host_since"]]
filtro2

**c) Los registros de los host que responden "a mas tardar en 1 dia"**<br>
Aqui ocupe el OR, ya que los host que responden a mas tardar en un dia tienen la variable host_response_time con los valores que se usan en el filtro.<br>

In [ ]:
filtro3 = df[
    (df["host_response_time"] == "within an hour" ) | 
    (df["host_response_time"] == "within a few hours") | 
    (df["host_response_time"] == "within a day")]
filtro3.to_csv("filtroRespuestaHost.csv")
filtro3

**d) Los registros que tengan "al menos 5 accommodates"**<br>
use la varibale accommodates cuando sea mayor o igual 5

In [ ]:
filtro4 = df[df["accommodates"] >= 5]
filtro4.to_csv("filtroAccommodates.csv")
filtro4

**e) Los registros de los tipos de cuarto: "Entire home" y "Private room"**<br>
use room_type que contene el tipo de cuarto, y use el Or para obtener los registros cuando los cuartos sean: "Entire home" y "Private room"

In [ ]:
filtro5 = df[
    (df["room_type"] == "Entire home/apt") |
    (df["room_type"] == "Private room") 
]
filtro5.to_csv("filtroTiposCuarto.csv")
filtro5

**f) Los registros que "a lo mucho cuenten con 4 camas"**<br>
use la varibale beds menos o igual a 4 para obtener los registros que cuenten con a lo mucho 4 camas

In [ ]:
filtro6 = df[df["beds"] <= 4]
filtro6.to_csv("filtroCamas.csv")
filtro6

**g) Los registros que "tengan 1 baño o que sean superhost" pero con la condición de que "todos sean instant_bookable"**<br>
use OR y AND, ademas use las variables bathroos, host_is_superhost y instant_bookable. Asi logre hacer un script qur <br>
obtenga los registros que tengan 1 baño o sean superhost y que sean instant bookable.

In [ ]:
filtro7 = df[
    ((df["bathrooms"] == 1) | (df["host_is_superhost"] == "t")) & 
    (df["instant_bookable"] == "t")
]
filtro7.to_csv("filtro_Baño=1_superhost_instantBookable.csv")
filtro7

**h) Los registros cuyo "review_scores_cleanliness sea menor de 3 y review_scores_raiting sea mayor de 3"**<br>
finalmente use las variables review_scores_cleanliness y review_scores_raiting que son de tipo int.<br>
Para obtener los registros donde review_scores_cleanliness < 3 y review_scores_raiting > 3, use AND, simplemente uni la sentencia y obtuve los registros.

In [ ]:
filtro8 = df[
    (df["review_scores_cleanliness"] < 3) &
    (df["review_scores_rating"] > 3)
]
filtro8.to_csv("filtro_Limpieza_menorQue3_Calificación_mayorQue3.csv", index=False)
filtro8